# the modular source code checker: pep8, pyflakes and co
# https://pypi.python.org/pypi/flake8/2.5.4
flake8==2.5.4

# pytest: simple powerful testing with Python
# https://pypi.python.org/pypi/pytest/2.8.3
pytest==2.8.3

# Code coverage measurement for Python
# https://pypi.python.org/pypi/coverage
coverage==4.2

# Pytest plugin for measuring coverage.
# https://pypi.python.org/pypi/pytest-cov/2.2.0
pytest-cov==2.2.0

# Powerful extensions to the datetime module available in the Python standard library.
# https://pypi.python.org/pypi/python-dateutil/2.5.3
python-dateutil==2.5.3
